* {
	font-family: sans-serif;
}

nav {
	margin: 10px;
}

nav a {
	margin: 5px;
}

table {
	border-collapse: collapse;
}

th,
td,
tr {
	text-align: left;
	border: 1px solid #888;
	padding: 10px;
}

.price {
	text-align: right;
}

.product-form label,
.product-form input,
.product-form button {
	margin: 5px;
}
